@{
    ViewData["Title"] = "Grafikler";
}


@using BikeStation.Models
@using System.Web.Helpers
@model List<GraphicModel>

<div class="container">

    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">
            Chart showing stacked percentage columns, where each column totals 100%,
            and each element value is visualized by giving it a size relative to the
            other elements.
        </p>
    </figure>


</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="~/jslinq/jslinq.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

    var list = @Html.Raw(Json.Serialize(Model));
    stationNames = JSLINQ(list)
        .Select(function (x) { return x.stationName }).ToArray();

    var series = JSLINQ(list)
        .Select(function (x) { return x.series }).ToArray();


    var chart = Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Bike Availability at Stations'
        },
        xAxis: {
            categories: stationNames
        },
        yAxis: {
            title: {
                text: 'Number of Bikes Available'
            },
        },
        tooltip: {
            pointFormat: '{series.name}: {point.y}'
        },
        series: series
    });


});

</script>